<section class="jumbotron text-center">
  <div class="container">
    <h1>Welcome to Crisalix!</h1>
    <p class="lead text-muted">Welcome to the Crisalix test appointment service! You can sign up as a doctor or as patient by the link below. If you have registered profile, please proceed to sign in page.</p>
    <p>
      <a href="<%= new_user_session_path %>" class="btn btn-primary my-2">Sign in</a>
      <a href="<%= new_user_registration_path %>" class="btn btn-primary my-2">Register</a>
    </p>
  </div>
</section>
